/*Global sur toutes les pages :*/

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

/*Bandeau de contact :*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    color: rgb(219, 217, 217);
    font-weight: bolder;
}

h1 {
    color: white;
}

main {
    text-align: center;
}

/*Footer (second bandeau de contact) :*/

.grille_footer {
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(197, 197, 197);
}


.image_footer {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    color: black;
    font-size: 120%;
    font-weight: bolder;
}

/*Barre de navigation entre les pages :*/
.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(25, 25, 25);
}

.bandeau h1 {
    color: rgb(150, 179, 86);
}

/*Bouton de la barre de navigation entre les pages :*/

.button {
    font-family: "Host Grotesk", sans-serif;
    background-color: rgb(243, 207, 55);
    border: none;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    margin: 4px 2px;
    background-image: linear-gradient(white, white);
    background-size: 0% 0.07em;
    background-position-y: 73%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

/*Ajout d'un effet de surlignement lors du survol d'un bouton :*/

.button:hover,
.button:focus,
.button:active {
    background-size: 80% 0.07em;
}


/*Page d'accueil :*/

/*Image et texte de la page d'accueil :*/

.image_acceuil {
    width: 100%;
    font-size: 100%;
}

img.image_accueil {
    width: 100%;
}

.paragraphe {
    color: black;
    font-weight: bolder;
    font-size: 160%;
}

.texte {
    position: absolute;
    margin-top: 73%;
    margin-left: 4%;
    color: white;
    font-size: 100%;
    font-weight: bold;
}

.titre{
    color: rgb(150, 179, 86);
    font-weight: bolder;
    font-size: 100%;
} 


/*Sous partie actualitée :*/

.grille_actu {
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}


.image_actu {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    color: black;
    font-size: 100%;
    margin-top: auto;
    margin-bottom: auto;

}

/* Ajout d'un effet de surlignement au survol de "en savoir plus" : */

.savoir {
    width: 100px;
    height: 70px;
    color: rgb(150, 179, 86);
    cursor: pointer;
    transition: 400ms;
    text-decoration: none;
    background-image: linear-gradient(rgb(150, 179, 86), rgb(150, 179, 86));
    background-size: 0% 0.07em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

.savoir:hover,
.savoir:focus,
.savoir:active {
    background-size: 100% 0.07em;
}



/*Page Boutique : */

/* Grille d'images : */

.grille {
    max-width: 1300px;
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 10px;
}

/* Images dans la grille : */

.grille_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    font-size: 30px;
    transition: 400ms;
    background-color: rgb(227, 227, 227);
    border-radius: 3%;
}

/* Texte dans la grille : */

.grille_img_txt {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    font-size: 30px;
    transition: 400ms;
    background-color: rgb(227, 227, 227);
    border-radius: 3%;
    
}

/* Ajout d'un effet de zoom au survol de l'image */

.grille_img:hover {
    transform: scale(1.06);
}
.grille_img_txt:hover {
    transform: scale(1.06);
}


/*Page à propos : */

/*Ecriture de We love tractor : */

.titre_propos{
    color: rgb(150, 179, 86);
    font-size: 300%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/*Questions sur le à propos : */

.question{
    color: black;
    font-weight: bolder;
    font-size: 300%;
}

/*Réponses aux questions : */

.corps_de_texte{
    text-align: center;
    font-size: 170%;
}

.vert {
    color: rgb(150, 179, 86);
    font-weight: bolder;
}

.jaune {
    color: rgb(243, 207, 55);
    font-weight: bolder;
}

/* Logo du jeu farming simulator : */

.image_fs{
    align-items: center;
    width: 25%;
}


