/*Global sur toutes les pages :*/

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

/*Bandeau de contact :*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    color: rgb(219, 217, 217);
    font-weight: bolder;
}

h1 {
    color: white;
}

main {
    text-align: center;
}

/*Barre de navigation entre les pages :*/
.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(25, 25, 25);
}

.bandeau h1 {
    color: rgb(150, 179, 86);
}

