/*Global sur toutes les pages :*/

body {
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

/*Bandeau de contact :*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(51, 51, 51);
    color: rgb(219, 217, 217);
    font-weight: bolder;
}

h1 {
    color: white;
}

main {
    text-align: center;
}

/*Barre de navigation entre les pages :*/
.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(25, 25, 25);
}

.bandeau h1 {
    color: rgb(150, 179, 86);
}

/*Bouton de la barre de navigation entre les pages :*/

.button {
    font-family: "Host Grotesk", sans-serif;
    background-color: rgb(243, 207, 55);
    border: none;
    padding: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    margin: 4px 2px;
    background-image: linear-gradient(white, white);
    background-size: 0% 0.07em;
    background-position-y: 73%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

/*Ajout d'un effet de surlignement lors du survol d'un bouton :*/

.button:hover,
.button:focus,
.button:active {
    background-size: 80% 0.07em;
}


/*Page d'accueil :*/

/*Image et texte de la page d'acceuil :*/

.image_acceuil {
    width: 100%;
    font-size: 100%;
}

img.image_accueil {
    width: 100%;
}

.paragraphe {
    color: black;
    font-weight: bolder;
    font-size: 160%;
}

